<mat-toolbar color="primary">
  <div class="center-navbar">
    <a class="title-app" href="">AdventureWorks</a>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
</mat-toolbar>

