.navbar-brand
  display: flex
  align-items: center
  margin-right: 3rem

.mat-tab-nav-bar
  border: 0

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.title-app
  position: absolute
  left: 0
  height: 100%
  top: 0
  margin: 12px 0 12px 35px
  text-decoration: none
  color: white

.center-navbar
  display: flex
  width: 100%
  justify-content: center
  height: 100%

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
  background: none

.mat-tab-links
  height: 100%

.mat-tab-link
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  line-height: 19px
  letter-spacing: 0
  text-align: center
  color: white
  opacity: 1!important
  height: 100% !important


