h1
  margin-top: 1.5rem
  margin-bottom: 1.5rem
  margin-left: 5rem
  font-family: Montserrat, sans-serif
  font-weight: 600

.container
  margin: 0 5rem

.create-product
  text-decoration: none
  color: white
  margin-left: 25px
  margin-right: 5%

.mat-button-wrapper
  display: block

.mat-header-row
  background-color: #2196f3

.mat-header-row .mat-header-cell
  color: white

.mat-row:nth-child(even)
  background-color: #dadada

.mat-row:nth-child(odd)
  background-color: #f3f3f3

th.mat-header-cell
  font-weight: bold
  text-align: left
  max-width: 300px

td.mat-cell, th.mat-header-cell
  padding: 0 10px !important

.product-table
  width: 100%
  overflow-x: auto
  overflow-y: hidden
  min-width: 500px

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

.mat-paginator
  background-color: #f3f3f3

::ng-deep .mat-sort-header-arrow
  color: white !important

.search-input
  width: 80%

