<h1 class="h1">List of products</h1>

<div class="container">

  <a class="create-product" mat-raised-button color="primary" routerLink="/products/create"><mat-icon>create</mat-icon>&nbsp;Create product&nbsp;</a>

  <mat-form-field class="search-input">
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Type a string. Ex: Touring-1000 Blue, 60">
  </mat-form-field>

  <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>

  <div class="mat-elevation-z8">
    <table class="demo-table" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="ProductID">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ProductID </th>
        <td mat-cell *matCellDef="let element"> {{element["ProductID"]}} </td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > Name </th>
        <td mat-cell *matCellDef="let element"> {{element["Name"]}} </td>
      </ng-container>
      <ng-container matColumnDef="ProductNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ProductNumber </th>
        <td mat-cell *matCellDef="let element"> {{element["ProductNumber"]}} </td>
      </ng-container>
      <ng-container matColumnDef="MakeFlag">
        <th mat-header-cell *matHeaderCellDef> MakeFlag </th>
        <td mat-cell *matCellDef="let element"> {{element["MakeFlag"].data[0] === 0 ? 'Purchased' : 'Manufactured in-house'}} </td>
      </ng-container>
      <ng-container matColumnDef="FinishedGoodsFlag">
        <th mat-header-cell *matHeaderCellDef> FinishedGoodsFlag </th>
        <td mat-cell *matCellDef="let element"> {{element["FinishedGoodsFlag"].data[0] ? 'Not salable' : 'Salable' }} </td>
      </ng-container>
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element["Color"]}} </td>
      </ng-container>
      <ng-container matColumnDef="SafetyStockLevel">
        <th mat-header-cell *matHeaderCellDef> SafetyStockLevel </th>
        <td mat-cell *matCellDef="let element"> {{element["SafetyStockLevel"]}} </td>
      </ng-container>
      <ng-container matColumnDef="StandardCost">
        <th mat-header-cell *matHeaderCellDef> StandardCost </th>
        <td mat-cell *matCellDef="let element"> {{element["StandardCost"]}} </td>
      </ng-container>
      <ng-container matColumnDef="ListPrice">
        <th mat-header-cell *matHeaderCellDef> ListPrice </th>
        <td mat-cell *matCellDef="let element"> {{element["ListPrice"]}} </td>
      </ng-container>
      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element["Size"]}} </td>
      </ng-container>
      <ng-container matColumnDef="SizeUnitMeasureCode">
        <th mat-header-cell *matHeaderCellDef> SizeUnitMeasureCode </th>
        <td mat-cell *matCellDef="let element"> {{element["SizeUnitMeasureCode"]}} </td>
      </ng-container>
      <ng-container matColumnDef="WeightUnitMeasureCode">
        <th mat-header-cell *matHeaderCellDef> WeightUnitMeasureCode </th>
        <td mat-cell *matCellDef="let element"> {{element["WeightUnitMeasureCode"]}} </td>
      </ng-container>
      <ng-container matColumnDef="Weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element["Weight"]}} </td>
      </ng-container>
      <ng-container matColumnDef="ProductSubcategoryID">
        <th mat-header-cell *matHeaderCellDef> ProductSubcategoryID </th>
        <td mat-cell *matCellDef="let element"> {{element["ProductSubcategoryID"]}} </td>
      </ng-container>
      <ng-container matColumnDef="ProductModelID">
        <th mat-header-cell *matHeaderCellDef> ProductModelID </th>
        <td mat-cell *matCellDef="let element"> {{element["ProductModelID"]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


