<h1 class="h1">List of employees</h1>

<div class="container">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Type a string. Ex: Alice Ciccu">
  </mat-form-field>

  <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-container matColumnDef="EmployeeID">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> EmployeeID </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeID}} </td>
      </ng-container>
      <ng-container matColumnDef="NationalIDNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> NationalIDNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.NationalIDNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="ContactID">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ContactID </th>
        <td mat-cell *matCellDef="let element"> {{element.ContactID}} </td>
      </ng-container>
      <ng-container matColumnDef="LoginID">
        <th mat-header-cell *matHeaderCellDef> LoginID </th>
        <td mat-cell *matCellDef="let element"> {{element.LoginID}} </td>
      </ng-container>
      <ng-container matColumnDef="ManagerID">
        <th mat-header-cell *matHeaderCellDef> ManagerID </th>
        <td mat-cell *matCellDef="let element"> {{element.ManagerID }} </td>
      </ng-container>
      <ng-container matColumnDef="Title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>
      <ng-container matColumnDef="BirthDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> BirthDate </th>
        <td mat-cell *matCellDef="let element"> {{element.BirthDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>
      <ng-container matColumnDef="MaritalStatus">
        <th mat-header-cell *matHeaderCellDef> MaritalStatus </th>
        <td mat-cell *matCellDef="let element"> {{element.MaritalStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
      </ng-container>
      <ng-container matColumnDef="HireDate">
        <th mat-header-cell *matHeaderCellDef> HireDate </th>
        <td mat-cell *matCellDef="let element"> {{element.HireDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>
      <ng-container matColumnDef="SalariedFlag">
        <th mat-header-cell *matHeaderCellDef> SalariedFlag </th>
        <td mat-cell *matCellDef="let element"> {{element.SalariedFlag.data[0] ? 1 : 0 }} </td>
      </ng-container>
      <ng-container matColumnDef="VacationHours">
        <th mat-header-cell *matHeaderCellDef> VacationHours </th>
        <td mat-cell *matCellDef="let element"> {{element.VacationHours}} </td>
      </ng-container>
      <ng-container matColumnDef="SickLeaveHours">
        <th mat-header-cell *matHeaderCellDef> SickLeaveHours </th>
        <td mat-cell *matCellDef="let element"> {{element.SickLeaveHours}} </td>
      </ng-container>
      <ng-container matColumnDef="CurrentFlag">
        <th mat-header-cell *matHeaderCellDef> CurrentFlag </th>
        <td mat-cell *matCellDef="let element"> {{element.SalariedFlag.data[0] ? 0 : 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="ModifiedDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ModifiedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.ModifiedDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>
    </table>
  </div>
</div>


