h1
  margin-top: 1.5rem
  margin-bottom: 1.5rem
  margin-left: 5rem
  font-family: Montserrat, sans-serif
  font-weight: 600

.container
  margin: 0 5rem

th.mat-header-cell
  font-weight: bold

.mat-header-row
  background-color: #2196f3

.mat-header-row .mat-header-cell
  color: white

.mat-row:nth-child(even)
  background-color: #dadada

.mat-row:nth-child(odd)
  background-color: #f3f3f3

td.mat-cell, th.mat-header-cell
  padding: 0 20px !important

.product-table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

.mat-paginator
  background-color: #f3f3f3

.mat-form-field
  font-size: 14px
  width: 100%

::ng-deep .mat-sort-header-arrow
  color: white !important

