h1
  margin-top: 1.5rem
  margin-bottom: 1.5rem
  margin-left: 5rem
  font-family: Montserrat, sans-serif
  font-weight: 600

.container
  margin: 0 5rem

.content
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.form-add-product
  width: 800px

.title-form
  text-decoration: none
  color: white

.example-full-width
  width: 100%

.width-80
  width: 80% !important

.list-product
  text-decoration: none
  color: white

.mat-button-wrapper
  display: block

th.mat-header-cell
  font-weight: bold

td.mat-cell, th.mat-header-cell
  padding: 0 20px !important

.product-table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%
