<h1 class="h1">Create product</h1>

<div class="container">
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <a class="create-product" mat-raised-button color="primary" routerLink="/products">
          <mat-icon>list</mat-icon>&nbsp;Back to list of products&nbsp;</a>
      </div>
    </div>
  </div>

  <div class="content">

    <notifier-container></notifier-container>

    <mat-toolbar color="primary" style="width: 800px; margin-bottom: 10px;">
      <div class="form-add-product">
        <a class="title-form" href="">Create Product</a>
      </div>
    </mat-toolbar>

    <form class="form-add-product" (ngSubmit)="createNewProduct()" #formControl="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" required [(ngModel)]="product.Name" name="Name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ProductNumber. Ex: BR-48544-ZH" required [(ngModel)]="product.ProductNumber" name="ProductNumber">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-label style="display: block; margin-bottom: 5px; color: #757575;">Salable product</mat-label>
      <mat-slide-toggle color="primary" class="example-margin" [(ngModel)]="product.MakeFlag" name="MakeFlag"></mat-slide-toggle>

      <mat-form-field>
        <input matInput placeholder="Color" [(ngModel)]="product.Color" name="Color">
      </mat-form-field>

      <table class="example-full-width">
        <mat-form-field appearance="fill">
          <mat-label>Enter a product safety stock level</mat-label>
          <input type="number" matInput placeholder="1000" [(ngModel)]="product.SafetyStockLevel" name="SafetyStockLevel" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter a product reorder point</mat-label>
          <input type="number" matInput placeholder="200" [(ngModel)]="product.ReorderPoint" name="ReorderPoint" required>
        </mat-form-field>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select a subcategory</mat-label>
              <mat-select [(value)]="product.ProductSubcategoryID" required>
                <mat-option *ngFor="let s of subcategories" [value]="s.ProductSubcategoryID">{{ s.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select a model</mat-label>
              <mat-select [(value)]="product.ProductModelID" required>
                <mat-option *ngFor="let s of models" [value]="s.ProductModelID">{{ s.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter a standard cost</mat-label>
              <input type="number" matInput placeholder="25.90" [(ngModel)]="product.StandardCost" name="StandardCost" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter a selling price</mat-label>
              <input type="number" matInput placeholder="15" [(ngModel)]="product.ListPrice" name="ListPrice" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter a size</mat-label>
              <mat-select [(ngModel)]="product.Size" name="Size">
                <mat-option value="S">Small</mat-option>
                <mat-option value="M">Medium</mat-option>
                <mat-option value="L">Large</mat-option>
                <mat-option value="XL">Extra Large</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select an unit for a Size</mat-label>
              <mat-select [(ngModel)]="product.SizeUnitMeasureCode" name="SizeUnitMeasureCode">
                <mat-option value="CM">CM</mat-option>
                <mat-option value="0">0</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter a weight</mat-label>
              <input type="number" matInput placeholder="40" [(ngModel)]="product.Weight" name="Weight">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select an unit for a weight</mat-label>
                <mat-select [(ngModel)]="product.WeightUnitMeasureCode" name="weightUnitMeasureCode">
                  <mat-option value="LB">LB</mat-option>
                  <mat-option value="G">G</mat-option>
                </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <div class="input-container">
              <mat-form-field appearance="fill">
                <mat-label>Choose a start sell date</mat-label>
                <input matInput [matDatepicker]="startSellDate" [(ngModel)]="product.SellStartDate" name="SellStartDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="startSellDate"></mat-datepicker-toggle>
                <mat-datepicker #startSellDate></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
          <td>
            <div class="input-container">
              <mat-form-field appearance="fill">
                <mat-label>Choose a end sell date</mat-label>
                <input matInput [matDatepicker]="SellEndDate" [(ngModel)]="product.SellEndDate" name="SellEndDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="SellEndDate"></mat-datepicker-toggle>
                <mat-datepicker #SellEndDate></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <div class="input-container">
              <mat-form-field appearance="fill">
                <mat-label>Choose a discontinued date</mat-label>
                <input matInput [matDatepicker]="DiscontinuedDate" [(ngModel)]="product.DiscontinuedDate" name="DiscontinuedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="DiscontinuedDate"></mat-datepicker-toggle>
                <mat-datepicker #DiscontinuedDate></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
          <td>
            <div class="input-container">
              <mat-form-field appearance="fill">
                <mat-label>Choose a modified date</mat-label>
                <input matInput [matDatepicker]="ModifiedDate" [(ngModel)]="product.ModifiedDate" name="ModifiedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="ModifiedDate"></mat-datepicker-toggle>
                <mat-datepicker #ModifiedDate></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <div mat-dialog-actions align="end" style="margin: 50px 0;">
        <button mat-raised-button color="primary" mat-button type="submit" [disabled]="!formControl.valid">Create a product</button>
      </div>
    </form>
  </div>
</div>
